# PlatformIO
.pio
.vscode
.antigravity
*.temp

# Compilación y Binarios
*.elf
*.bin
*.hex
*.map

# Secretos y Configuración Local
.env
src/config.h
env_loader.pyc

# Sistema Operativo
.DS_Store
Thumbs.db
Desktop.ini
